{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Half Power Method</h1>
    <p class="lead">This website is using the half-power bandwidth method to estimate the damping ratio a of a structure which has been excited by base motion or an applied force.</p>
    <p><a href="{% url 'app' %}" class="btn btn-primary btn-large">Start the app &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Django gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More information</h2>
        <p>More about how half power method can be used for finding damping ratio. </p>
        <p><a class="btn btn-default" href="http://www.vibrationdata.com/tutorials2/half_power_bandwidth.pdf">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
