{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Half Power Method</h1>
    <p class="lead">This website is using the half-power bandwidth method to estimate the damping ratio a of a structure which has been excited by base motion or an applied force.</p>
    <p><a href="{% url 'app' %}" class="btn btn-primary btn-large">Start the app &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            If you want to learn more on what this app does and how to use it go to about page.
        </p>
        <p><a class="btn btn-default" href="{% url 'about' %}">Go to about &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Source code</h2>
        <p>You can check how this website was written on the project's github'</p>
        <p><a class="btn btn-default" href="https://github.com/Spectyte5/HalfPowerMethod">Open GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More information</h2>
        <p>More about how half power method can be used for finding damping ratio. </p>
        <p><a class="btn btn-default" href="http://www.vibrationdata.com/tutorials2/half_power_bandwidth.pdf">Read more &raquo;</a></p>
    </div>
</div>

{% endblock %}
